<div id="gameinfo" class="block">
		<h3>{GAMENAME} <img src="images/icons/icon_{PLATFORM}_sm.gif" alt="{PLATFORM}" /></h3>
<div class="text">
		<div class="float-left align-center" style="width:45%;">
			<p class="feature align-left">
			{IMAGE}
			
			</p>
			<strong>{GAMEINFO_FREE_TEXT}</strong>
			<br class="clearfix" />
			{GAMESIZE}
			<br class="clearfix" />
			{DOWNLOADBUTTON}
			<br class="clearfix" />
			<strong>{GAMEINFO_OR_TEXT}</strong>
			<br class="clearfix" />
			<strong>{GAMEINFO_UNLIMITED_TEXT}</strong>
			<br class="clearfix" />
			{BUYBUTTON}
			<br class="clearfix" />
			{PLAYBUTTON}		
			<br class="clearfix" />
			{GAMEINFO_TESTED_TEXT}
		</div>
		<div class="float-right" style="width:55%;">
			{LONGDESC}
			{BULLETPOINTS}
			{VIDEO}
			{PLAYBUTTON}
			<div class="clear">
				{ALTVERSION}
				{SYSREQUIREMENTS}
				<br />
			</div>
		</div>
		<div class="screenshots clear  align-center" style="width:100%; margin-top:50px;">
			<h4 class="align-center">{GAMEINFO_SCREENSHOTS_TEXT}</h4>
				{SCREENSHOT1}
				{SCREENSHOT2}
				{SCREENSHOT3}
				<br />
				{GAMEINFO_IMAGE_TEXT}
		</div>
		<div class="post-footer align-right clear">
			<span class="date"> {MON} {DAY}, {YEAR}</span>
		</div>

	</div>

</div>


{COMMENTS}
