<div class="block">
	<h3>{CAPTION}</h3>
	<div class="text">
		<h4 class="spacer align-right" >{TEXT}</h4>
	</div>
</div>

<div class="block">
	<h3>{FEATURETEXT}</h3>
	<div class="text">
		{GAME1}
	</div>
</div>

<div class="block">
	<div class="text">
		{GAME2}
		{GAME3}
		<div class="clearfix"></div>
		{GAME4}
		{GAME5}
		<div class="clearfix"></div>
		{GAME6}
		{GAME7}	
		<div class="clearfix"></div>
		{GAME8}
		{GAME9}
		<div class="clearfix"></div>
	</div>
</div>
{GENRELIST}
 
	                       		