<div id="gameinfo">
	<div class="gameinfo-left align-center">
		{IMAGE}
		<br class="clearfix" />
		<strong>{GAMEINFO_FREE_TEXT}</strong>
		<br class="clearfix" />
		{GAMESIZE}
		<br class="clearfix" />
		{DOWNLOADBUTTON}
		<br class="clearfix" />
		<strong>{GAMEINFO_OR_TEXT}</strong>
		<br class="clearfix" />
		<strong>{GAMEINFO_UNLIMITED_TEXT}</strong>
		<br class="clearfix" />
		{BUYBUTTON}
		<br class="clearfix" />
		{PLAYBUTTON}		
		<br class="clearfix" />
		{GAMEINFO_TESTED_TEXT}
	</div>
	<div class="gameinfo-right">
			<h3 class="align-center">{GAMENAME} <img src="images/icons/icon_{PLATFORM}_sm.gif" alt="{PLATFORM}" style="border:none" /></h3>
				{VIDEO}
				<p class="clear-both">
				{LONGDESC}
				</p>
				{BULLETPOINTS}

				<div class="screenshots">
					<h5>{GAMEINFO_SCREENSHOTS_TEXT}</h5>
					{SCREENSHOT1}
					{SCREENSHOT2}
					{SCREENSHOT3}
					<br class="clear-both" />
					{GAMEINFO_IMAGE_TEXT}
				</div>
				
				{SYSREQUIREMENTS}
				{ALTVERSION}
	</div>
	<div class="post-footer align-right clear">
		<span class="date"> {MON} {DAY}, {YEAR}</span>
	</div>
</div>
{COMMENTS}

