<div id="feature">
    <div class="feature_tile">
      <div class="feature_top">
        <div class="{FEATURECLASS}_{LOCALE}">
        <h2>{FEATURETEXT}</h2>
        </div>
        <div class="feature_bottom">
        {GAME1}
        </div>
      </div>
    </div>
    <h3>{CURRENT_PLATFORM_IMAGE} {CAPTION}</h3>
    <h4>{TEXT}</h4>
    {GAME2}
    {GAME3}
    {GAME4}
    <div class="clearfix"></div>
</div>
<br />
<div>
    {GAME5}
    {GAME6}
    {GAME7}
    {GAME8}
    {GAME9}
    <div class="clearfix"></div>
</div>
<br />
<div>
    {GENRELIST}
</div>