<div id="gameinfo">
	<div class="float-left align-center" style="width:40%">
		<p>{IMAGE}</p>
		<p>
		<strong>{GAMEINFO_FREE_TEXT}</strong>
		<br class="clearfix" />
		{GAMESIZE}
		<br class="clearfix" />
		{DOWNLOADBUTTON}
		<br class="clearfix" />
		<strong>{GAMEINFO_OR_TEXT}</strong>
		<br class="clearfix" />
		<strong>{GAMEINFO_UNLIMITED_TEXT}</strong>
		<br class="clearfix" />
		{BUYBUTTON}
		<br class="clearfix" />
		{PLAYBUTTON}		
		<br class="clearfix" />
		{GAMEINFO_TESTED_TEXT}
		</p>
	</div>
	<div class="float-right clear-right" style="width:60%">
		<h3>{GAMENAME}</h3>
		{VIDEO}
		<p class="clear-both">
		{LONGDESC}
		{BULLETPOINTS}
		</p>
	</div>
	<div class="screenshots float-right align-center" style="width:60%">
		<h4 class="align-center">{GAMEINFO_SCREENSHOTS_TEXT}</h4>
			{SCREENSHOT1}
			{SCREENSHOT2}
			<br />
			{GAMEINFO_IMAGE_TEXT}
		<div class="clear">	<span class="float-right"><br />{ALTVERSION}</span>
			{SYSREQUIREMENTS}
		</div>
	</div>
	<div class="post-footer align-right clear">
		<span class="date"> {MON} {DAY}, {YEAR}</span>
	</div>
</div>
{COMMENTS}